<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<!-- <script src="{{ url_for('static', filename='jquery-3.2.1.js') }}"></script> -->

	
	<script> 
		function led_Toggle(button_clicked, ledNumber) {
			var imageNameWithURL = "{{ image }}";
			if ($(button_clicked).text() ==  "Set ON") {
						$(button_clicked).text("Set OFF");		
						$.getJSON('/ledToggle', {
							input: "ON",
							ledNumber: ledNumber
							}, function(data) {
							;
						});
				}
			else {
				$(button_clicked).text("Set ON");
				$.getJSON('/ledToggle', {
					input: "OFF",
					ledNumber: ledNumber
					}, function(data) {
					;
					});
		}
		location.reload(true);
		}

		function setButtons() {					
			if ( {{ led1status }} == 1) {
				$("#btn1").text("Set OFF");	
			}
			if ( {{ led2status }}  == 1) {
				$("#btn2").text("Set OFF");	
			}
			if ( {{ led3status }}  == 1) {
				$("#btn3").text("Set OFF");	
			}
			if ( {{ led4status }} == 1) {
				$("#btn4").text("Set OFF");	
			}
		}
		
		$(document).ready(function(){
						
			setButtons()
				
			$("#btn1").click(function(){
				led_Toggle("#btn1", 17);
			});
			$("#btn2").click(function(){
				led_Toggle("#btn2", 22);
			});
			$("#btn3").click(function(){
				led_Toggle("#btn3", 18);
			});		
			$("#btn4").click(function(){
				led_Toggle("#btn4", 23);
			});			
		});
	</script>
 </head>

<body>
<div >
<p style="margin-left:30px;margin-top:20px;">We got leds</p>
</div>
<div class="container-fluid">
<div class="row">
	<div class="col-sm-2">	
		<p>
		LED 1
		<button type="button" id="btn1">Set ON</button>
		</p>
		<p>
		LED 2
		<button type="button" id="btn2">Set ON</button>
		</p>
		<p>
		LED 3
		<button type="button" id="btn3">Set ON</button>
		</p>
		<p>
		LED 4
		<button type="button" id="btn4">Set ON</button>
		</p>
	</div>
	<div class="col-sm-10">
		<img src="{{ image }}">
	</div>
	</div>
</body>
</html>
